[submodule "visor-geografico-I2D"]
	path = visor-geografico-I2D
	url = https://github.com/maccevedor/visor-geografico-I2D.git
	branch = main

[submodule "visor-geografico-I2D-backend"]
	path = visor-geografico-I2D-backend
	url = https://github.com/maccevedor/visor-geografico-I2D-backend.git
	branch = main
